<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forget Password Page</title>
    <link rel="stylesheet" href="forget_password_page.css" />
    <link href="https://fonts.cdnfonts.com/css/euclid-circular-a" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f67c1a1b14.js" crossorigin="anonymous"></script>
    <script src="forget_password_page.js"></script>
</head>

<header>
    <form action="/GoBackToMainPage" , method="POST">
      <div class="logo">
        <button> <a href="main.html"><i class="fa-solid fa-arrow-left fa-4x"></i></a> </button>
      </div>
    </form>
  </header>
  
<body>
    {%block content%}
    <!-- email card: to insert the email  -->
    <div class="email-card">
        <h2>Reset Password</h2>
        <h3>Enter your KFUPM ID to go forward with resetting your password</h3>
        <form id="email-form" class="email-form" action="/EmailForm" method="GET">
            <input type="text" placeholder="s20#######" name="email" />
            <button type="submit"><i class="fa-solid fa-arrow-right-long fa-lg"></i></button>
        </form>
    </div>


    <!-- OTP card: to insert the OTP  -->
    <div class="otp-card" hidden>
        <h2>Enter OTP</h2>
        <h3>An email has been sent with the OTP message</h3>
        <form id="otp-form" class="otp-form" action="/OTPForm" method="GET">
            <input type="text" placeholder="#" name="OTP[0]" />
            <input type="text" placeholder="#" name="OTP[1]" />
            <input type="text" placeholder="#" name="OTP[2]" />
            <input type="text" placeholder="#" name="OTP[3]" />
            <button type="submit">VERIFY OTP</button>
        </form>
    </div>

    <!-- Reset password card: to insert new password  -->
    <div class="reset-card" hidden>
        <h2>Reset Password</h2>
        <h3>Enter your new password</h3>
        <form id="reset-form" class="reset-form" action="/ResetPasswordForm" method="GET">
            <input type="password" placeholder="New Password" name="passwordInput" />
            <input type="password" placeholder="Rewrite New Password" name="confirmPasswordInput" />
            <button type="submit"><i class="fa-solid fa-floppy-disk fa-lg"></i></button>
        </form>
    </div>
    {% endblock %}


    <script>
        // Select the forms and cards
        const emailForm = document.querySelector('#email-form');
        const emailCard = document.querySelector('.email-card');
        const otpForm = document.querySelector('#otp-form');
        const otpCard = document.querySelector('.otp-card');
        const resetForm = document.querySelector('#reset-form');
        const resetCard = document.querySelector('.reset-card');


        // Handle email form submission
        emailForm.addEventListener('submit', async (event) => {
            event.submitter.disabled = true;
            event.preventDefault(); // Prevent default form submission behavior

            // Get the email from the form input
            const email = emailForm.email.value;

            // Send a GET request to the /EmailForm route with the email as a query parameter
            const response = await fetch(`/EmailForm?email=${email}`);

            // Check if the email is valid
            if (response.ok) {
                // If the email is valid, hide the email card and show the OTP card
                emailCard.style.display = 'none';
                otpCard.style.display = 'block';
            } else {
                // If the email is not valid, show an alert
                event.submitter.disabled = false;
                alert('The email may be incorrect or you do not have an account registered.');
            }
            

        });

        // Handle OTP form submission
        otpForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            // Get the OTP from the form inputs
            const otp = [
                otpForm['OTP[0]'].value,
                otpForm['OTP[1]'].value,
                otpForm['OTP[2]'].value,
                otpForm['OTP[3]'].value,
            ].join('');

            // Send a GET request to the /OTPForm route with the OTP as a query parameter
            const response = await fetch(`/OTPForm?otp=${otp}`);

            // Check if the OTP is valid
            if (response.ok) {
                // If the OTP is valid, hide the OTP card and show the reset card
                otpCard.style.display = 'none';
                resetCard.style.display = 'block';
            } else {
                // If the OTP is not valid, show an alert
                alert('You may have sent an invalid OTP.');
            }
        });


        // Handle ResetPasswordForm form submission
        resetForm.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevent default form submission behavior

            // Get the newPass from the form input
            const passwordInput1 = resetForm.passwordInput.value;
            const passwordInput2 = resetForm.confirmPasswordInput.value;

            // Send a GET request to the /ResetPasswordForm route with the passwordInput as a query parameter
            const response = await fetch(`/ResetPasswordForm?passwordInput=${passwordInput1}&confirmPasswordInput=${passwordInput2}`);

            // Check if the newPass is valid
            if (response.ok) {
                console.log("it works!!!")
                // If the newPass is valid then show a success message and return to homepage
                window.location.href = '/';
                alert('Your password has been updated successfully!');
            } else {
                // If the newPass is not valid, show an alert to renter valid password
                alert('Re-enter your password as they do not match.');
            }
        });



    </script>
</body>


</html>