<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Tutor Page</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

    <link href="https://fonts.cdnfonts.com/css/euclid-circular-a" rel="stylesheet">
    <script src="tutor_page.js"></script>
    <link href="tutor_page.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f67c1a1b14.js" crossorigin="anonymous"></script>
</head>

<header>
    <div class="logo">
        <a href="main.html"><i class="fa-solid fa-right-from-bracket fa-rotate-180 fa-4x"></i></a>
    </div>

    <div class="notification_button">
        <!-- Use "Badge" from bootstrap -->
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"><i class="fa-regular fa-bell fa-3x"></i>
        </button>
    </div>
</header>


<body class="p-3 m-0 border-0 bd-example">

    <!-- offcanvas container -->
    <div class="offcanvas_container">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel"><i class="fa-regular fa-bell fa-xl"></i>
                    Notifications</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <!-- notification container that will copy pasted (create new ones when getting notified) -->
                <hr class="rounded">
                <div class="notification_container">
                    <div class="notification_course">
                        <p><b>Course:</b> <br> Chem101</p>
                    </div>
                    <div class="notification_day">
                        <p><b>Day:</b> <br> Sunday</p>
                    </div>
                    <div class="notification_time">
                        <p><b>Time:</b> <br> <time>4:00</time> PM</p>
                    </div>
                    <div class="notification_name">
                        <p><b>Name:</b> <br> Ali AlBahnasi</p>
                    </div>
                    <div class="notification_buttons">
                        <button class="decline_request_button"><i class="fa-solid fa-x fa-xl"
                                style="color: #f9f9f9;"></i></button>
                        <button class="accept_request_button"><i class="fa-solid fa-check fa-xl"
                                style="color: #f9f9f9;"></i></button>
                    </div>
                </div>
                <!-- notification container that will copy pasted (create new ones when getting notified) -->

                <hr class="rounded">
                <div class="notification_container">
                    <div class="notification_course">
                        <p><b>Course:</b> <br> Chem101</p>
                    </div>
                    <div class="notification_day">
                        <p><b>Day:</b> <br> Sunday</p>
                    </div>
                    <div class="notification_time">
                        <p><b>Time:</b> <br><time>4:00</time> PM</p>
                    </div>
                    <div class="notification_name">
                        <p><b>Name:</b> <br> Ali AlBahnasi</p>
                    </div>
                    <div class="notification_buttons">
                        <button class="decline_request_button"><i class="fa-solid fa-x fa-xl"
                                style="color: #f9f9f9;"></i></button>
                        <button class="accept_request_button"><i class="fa-solid fa-check fa-xl"
                                style="color: #f9f9f9;"></i></button>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- offcanvas container -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Canceling Tutoring Session</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you'd like to cancel this session?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, don't cancel.</button>
                    <button type="button" class="btn btn-primary">Yes, cancel session!</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->


    <div class="container">

        <div class="title_container">
            <h1><b>Tutor Schedule</b></h1>
        </div>


        <div class="main_container"></div>

        <div class="left_container">
            <h2>Current Tutoring Schedule</h2>
            <br>

            <form>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Choose a course</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

                <div class="days">
                    <div class="btn-group-vertical" role="group" aria-label="Vertical checkbox toggle button group">

                        <input type="checkbox" class="btn-check" name="vbtn-checkbox" id="vbtn-checkbox1"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="vbtn-checkbox1">Sunday</label>

                        <input type="checkbox" class="btn-check" name="vbtn-checkbox" id="vbtn-checkbox2"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="vbtn-checkbox2">Monday</label>

                        <input type="checkbox" class="btn-check" name="vbtn-checkbox" id="vbtn-checkbox3"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="vbtn-checkbox3">Tuesday</label>

                        <input type="checkbox" class="btn-check" name="vbtn-checkbox" id="vbtn-checkbox4"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="vbtn-checkbox4">Wednesday</label>

                        <input type="checkbox" class="btn-check" name="vbtn-checkbox" id="vbtn-checkbox5"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="vbtn-checkbox5">Thursday</label>

                        <input type="checkbox" class="btn-check" name="vbtn-checkbox" id="vbtn-checkbox6"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="vbtn-checkbox6">Friday</label>

                        <input type="checkbox" class="btn-check" name="vbtn-checkbox" id="vbtn-checkbox7"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="vbtn-checkbox7">Saturday</label>

                    </div>
                </div>

                <div class="virtual">
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="flexSwitchCheckDefault">
                            Online Sessions
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </label>
                    </div>
                </div>

                <br>

                <div class="time">
                    <label for="appt">Select the Available time </label>
                    <input type="time" id="appt" name="appt">

                    <p>
                        to
                    </p>

                    <input type="time" id="appt" name="appt">
                </div>




                <input class="submit_button" type="submit" value="Save Schedule">
            </form>
        </div>

        <div class="request_container"><a href="tutor_request_page.html"><button class="request_button">Request To
                    Tutor</a></button></div>



        <div class="right_container">
            <h2>Upcoming Tutoring Sessions</h2>
            <br>
            <br>

            <div class="table-container">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Day</th>
                            <th>Time</th>
                            <th>Virutal</th>
                            <th>Course</th>
                            <th>Cancel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>John</td>
                            <td>Monday</td>
                            <td><time>4:00</time> PM</td>
                            <td>Yes</td>
                            <td>CHEM 101</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <i class="fa-solid fa-ban"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jane</td>
                            <td>Monday</td>
                            <td><time>6:00</time>PM</td>
                            <td>No</td>
                            <td>STAT 319</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <i class="fa-solid fa-ban"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Bob</td>
                            <td>Tuesday</td>
                            <td><time>7:30</time>PM</td>
                            <td>Yes</td>
                            <td>ENG 214</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <i class="fa-solid fa-ban"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>





        </div>

    </div>



</body>

</html>